
{%macro show_article(Article)%}
{%for article_item in Article%}
        <div class="card" style="width: 80rem;">
            <img class="card-img-top" src="{{article_item.publishedAt}}" style="width: 80rem;">
        <div class="card-body">
            <h3>{{article_item.title}} by {{article_item.author}}</h3>
            <p>{{article_item.description}}</p>
            <a href="{{article_item.urlToImage}}" class="btn btn-primary">Read More</a>
        </div>
        </div>

    

{% endfor %}
{% endmacro %}

{%macro show_source(Source)%}
{%for source_item in Source%}

     <div class="card">
        <h5 class="card-header">{{source_item.name}}</h5>
    <div class="card-body">
        <h5 class="card-title">{{source_item.category}}</h5>
        <p class="card-text">{{source_item.description}}</p>
        <a href="{{source_item.url}}" class="btn btn-primary">Read More</a>
    </div>
    </div>

   
{% endfor %}
{% endmacro %}

